/*-----------------   Font Imports   -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*----------------- CSS Reset -----------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- Main CSS -----------------*/

:root {
	font-family: 'Open Sans';
	--logo-light-blue: #91C2EE;
	--logo-dark-blue: #20629D;
}

html {
	background-color: white;
}

body {
	box-shadow: -10px 5px 20px rgb(52, 52, 52), 2px 5px 20px rgb(52, 52, 52);
}

h1 {
	font-family: 'Lobster';
	font-size: 5.2em;
	color: var(--logo-dark-blue);
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
}

p {
	font-size: 1.25em;
	line-height: 1.3;
}

a:hover {
	color: #184c7a;
}

a svg:hover {
	fill: #184c7a;
}

#skip-link {
	position: absolute;
	top: 1000%;
	right: 1000%;
}

header {
	background-color: #fffef2;
}

nav {
	background-color: #cbe9fd;
}

nav a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#about-business, #about-creator {
	background-color: #fffef2;
}

#featured, #activities {
	background-color: #cbe9fd;
	color: black;
}

main {
	background-color: #fffef2;
}

#products img, #featured img, #activities img {
	border: 0.4em solid var(--logo-dark-blue);
}

.redColor {
	color: rgb(174, 0, 0);
}

footer {
	background-color: var(--logo-light-blue);
}

footer p {
	color: black;
}

/*-----------------   Small Screen -----------------*/
@media screen and (min-width: 412px) and (max-width: 767px) {

	/*-----------------   Header   -----------------*/

	body {
		width: 412px;
		margin: auto;
	}

	/*   Hamburger Menu   */

	nav {
		display: block;
  		position: relative;
		top: -150px;
		left: 369px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
		width: 33px;
		background-color: #fffef2;
	}

	nav input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	nav span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background-color: var(--logo-dark-blue);
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
	}

	nav span:first-child {
		transform-origin: 0% 0%;
	}

	nav span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	/*   Transform the lines to an X   */

	nav input:checked ~ span {
  		opacity: 1;
  		transform: rotate(45deg) translate(-2px, -1px);
  		background-color: #232323;
	}

	nav input:checked ~ span:nth-last-child(3) {
  		opacity: 0;
  		transform: rotate(0deg) scale(0.2, 0.2);
	}

	nav input:checked ~ span:nth-last-child(2) {
  		transform: rotate(-45deg) translate(0, -1px);
	}

	nav ul {
		position: absolute;
		width: 352px;
		margin: auto;
		top: -10px;
		left: -369px;
		padding: 30px;
		background-color: #fffef2;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(150%, 0);
		transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	nav ul li {
		padding: 10px 0;
		font-size: 22px;
		text-align: right;
	}

	nav input:checked ~ ul {
		transform: none;
	}

	header {
		display: grid;
		grid-template-areas:
			"logo title";
		box-shadow: -10px 5px 20px rgb(52, 52, 52), 2px 5px 20px rgb(52, 52, 52);
		position: sticky;
	}

	header img {
		grid-area: logo;
		width: 100px;
		height: 100px;
		margin: 10px;
		margin-top: 50px;
		position: relative;
		top: 20px;
	}

	header h1 {
		grid-area: title;
		margin-top: 50px;
		position: relative;
		top: 20px;
		font-size: 4em;
	}

	/*-----------------   Home and About   -----------------*/

	main h2 {
		text-align: center;
		padding: 20px 0;
	}

	#about-business img, #about-creator img {
		margin-left: 130px;
		width: 150px;
		height: 150px;
	}

	#about-business p, #about-creator p {
		width: 375px;
		text-align: center;
		margin: auto;
		padding: 20px 0;
		padding-top: 10px;
	}

	#featured, #activities {
		text-align: center;
		width: 412px;
		margin: auto;
	}

	#featured img, #activities img {
		margin-bottom: 10px;
		width: 150px;
		height: 150px;
	}

	#featured p, #activities p {
		width: 375px;
		margin: auto;
		padding-bottom: 40px;
	}

	/*-----------------   Products Page   -----------------*/

	.product {
		display: flex;
		flex-direction: row;
		width: 388px;
		margin: auto;
		margin-bottom: 20px;
		padding: 10px 12px;
	}

	.product img {
		width: 100px;
		height: 100px;
		margin-right: 10px;
	}

	.product:nth-child(odd) {
		background-color: #cbe9fd;
	}

	#products {
		padding-bottom: 20px;
	}

	/*-----------------   Contact Page   -----------------*/

	.req {
		color: rgb(174, 0, 0);
	}

	#requ {
		font-size: 1em;
	}

	form {
		width: 388px;
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	form div {
		width: 388px;
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		text-align: right;
		align-items: center;
		margin: auto;
		margin-top: 20px;
	}

	form input {
		width: 200px;
		height: 50px;
		font-size: 1.25em;
	}

	form label {
		font-size: 1.35em;
		margin-right: 10px;
	}

	#message-div {
		align-items: start;
	}

	#message-div textarea {
		width: 200px;
		height: 100px;
		font-size: 1.25em;
		font-family: 'Open Sans';
	}

	form > input {
		margin: auto;
		margin-top: 20px;
	}

	#requ {
		margin-left: 50px;
		margin-top: 20px;
	}

	#error {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	#social-media li a {
		text-decoration: none;
		color: black;
		font-size: 1.25em;
		display: flex;
		flex-direction: row;
	}

	#social-media {
		width: 388px;
		margin: auto;
		text-align: center;
		padding-bottom: 20px;
	}

	#social-media ul li {
		margin: 10px 0px 0 125px;
	}

	#social-media ul li img {
		width: 50px;
		height: 50px;
		margin-right: 5px;
	}

	#social-media ul li a div {
		margin: auto;
		margin-left: 0;
	}

	/*-----------------   Footer   -----------------*/

	#socials {
		width: 300px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		padding-top: 20px;
	}

	footer div {
		width: 412px;
		margin: auto;
		margin-top: 20px;
		text-align: center;
		padding-bottom: 20px;
	}

	footer div p {
		margin-top: 5px;
	}
}


/*-----------------   Medium Screen   -----------------*/
@media screen and (min-width: 768px) {

	/*-----------------   Header   -----------------*/

	body {
		width: 768px;
		margin: auto;
	}

	nav input {
		display: none;
	}

	nav span {
		display: none;
	}

	header {
		display: grid;
		grid-template-areas:
				"logo title"
				"nav nav";
	}

	header img {
		grid-area: logo;
		width: 140px;
		height: 140px;
		padding: 25px;
	}

	header h1 {
		margin: 0;
		grid-area: title;
		padding-top: 50px;
		position: relative;
		left: -180px;
	}

	header nav {
		grid-area: nav;
		padding: 20px 0;
	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
		width: 708px;
		height: 75px;
	}

	nav ul li {
		margin: auto;
	}

	nav ul li a {
		font-size: 1.5em;
	}

	/*-----------------   Home and About   -----------------*/

	#about-business, #about-creator {
		display: grid;
		grid-template-areas:
				"title title title"
				"picture tet tet";
		margin: auto;
		padding: 20px 0;
	}

	#about-business h2, #about-creator h2 {
		grid-area: title;
		padding-bottom: 20px;
		text-align: center;
	}

	#about-business img, #about-creator img {
		grid-area: picture;
		width: 150px;
		height: 150px;
		margin-left: 34px;
	}

	#about-business p, #about-creator p {
		grid-area: tet;
		padding-left: 20px;
		margin-right: 34px;
		text-align: left;
	}

	#featured h2, #activities h2 {
		text-align: center;
		padding-top: 20px;
	}

	#featured ul, #activities ul {
		display: grid;
		grid-template-areas:
				"one one two two"
				". three three .";
	}

	#featured li, #activities li {
		display: flex;
		flex-direction: column;
		width: 200px;
		padding: 50px 0;
		margin: 0 auto;
	}

	#featured li img, #activities li img {
		width: 200px;
		height: 200px;
	}

	#featured li p, #activities li p {
		text-align: center;
	}

	.one {
		grid-area: one;
	}

	.two {
		grid-area: two;
	}

	.three {
		grid-area: three;
	}

	footer {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
	}

	footer div {
		width: 450px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 20px 0;
	}

	#socials {
		display: flex;
		flex-direction: row;
		width: 350px;
		justify-content: space-between;
		margin-left: 400px;
	}


	/*-----------------   Products page   -----------------*/
	main > h2 {
		text-align: center;
		padding-top: 30px;
	}

	#products {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 700px;
		margin: 0 34px;
		padding-bottom: 30px;
	}

	.product {
		width: 300px;
		margin: auto;
		margin-top: 30px;
	}

	.product img {
		width: 200px;
		height: 200px;
		margin-left: 50px;
	}

	.product p {
		text-align: center;
	}

	/*-----------------   Contact page   -----------------*/
	.req {
		color: rgb(174, 0, 0);
	}

	#requ {
		font-size: 1em;
	}

	form {
		width: 700px;
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	form div {
		width: 500px;
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		text-align: right;
		align-items: center;
		margin: auto;
		margin-top: 20px;
	}

	form input {
		width: 300px;
		height: 50px;
		font-size: 1.25em;
	}

	form label {
		font-size: 1.35em;
		margin-right: 10px;
	}

	#message-div {
		align-items: start;
	}

	#message-div textarea {
		width: 300px;
		height: 100px;
		font-size: 1.5em;
	}

	form > input {
		margin: auto;
		margin-top: 20px;
	}

	#requ {
		margin-left: 200px;
		margin-top: 20px;
	}

	#error {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	#social-media {
		width: 400px;
		margin: auto;
		padding-bottom: 50px;
	}

	#social-media h3 {
		text-align: center;
	}

	#social-media ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#social-media li {
		position: relative;
		left: 50px;
		margin-top: 20px;
	}

	#social-media li a {
		text-decoration: none;
		color: black;
		font-size: 1.25em;
		display: flex;
		flex-direction: row;
	}

	#social-media li a div {
		margin-left: 10px;
		margin-top: 15px;
	}
}



/*-----------------   Large Screen   -----------------*/


@media screen and (min-width: 1280px) {
	body {
		width: 1280px;
		margin: auto;
	}

	header img {
		width: 170px;
		height: 170px;
		margin-top: 20px;
	}

	header h1 {
		left: -405px;
		margin-top: 25px;
	}

	nav ul {
		width: 1220px;
	}

	#socials {
		margin-left: 900px;
	}

	/*-----------------   Home and About   -----------------*/

	#about-business p, #about-creator p {
		margin-top: 30px;
	}

	#featured ul, #activities ul {
		display: grid;
		grid-template-areas:
			"one two three";
	}

	/*-----------------   Products   -----------------*/

	#products {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.product p {
		width: 200px;
		margin: auto;
	}

	/*-----------------   Contact   -----------------*/

	form {
		width: 1200px;
		display: grid;
		grid-template-areas:
			"first message"
			"last message"
			"email message"
			"subm subm";
	}

	#first-name {
		grid-area: first;
	}

	#last-name {
		grid-area: last;
	}

	#email-address {
		grid-area: email;
	}

	#message-div {
		grid-area: message;
		position: relative;
		left: -50px;
	}

	#submit {
		grid-area: subm;
	}

	#message-div textarea {
		width: 500px;
		height: 220px;
	}

	#requ {
		margin-left: 150px;
	}

	#error {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	#social-media {
		width: 1200px;
	}

	#social-media ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}